<nav class="sidebar">

  <div class="sidebar-header">

    <div class="logo-icon">
      Teste tecnnico
    </div>

    <div class="logo-text">
      <strong>Teste tecnico</strong>
      <span>TRANSPORTES</span>
    </div>

  </div>


  <div class="menu">

    <span class="menu-title">
      MENU
    </span>

    <a
      routerLink="/admin/dashboard"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="icon">⌂</span>
      <span>Dashboard</span>
    </a>

    <a
      routerLink="/admin/users"
      routerLinkActive="active"
      class="menu-item"
    >
      <span class="icon">♙</span>
      <span>Usuários</span>
    </a>

  </div>


  <div class="sidebar-footer">



    <button class="logout-button">
      Sair
    </button>

  </div>

</nav>